html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3.0em;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.audio-button {
  position: fixed;
  top: 7%;
  right: 25px;
  background: #140c30;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}
.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .custom-modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    font-size: 1.2em;
    width: 300px;
  }
  
  .close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  
  .btn-cancel, .btn-close-modal {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-cancel {
    background: rgb(31, 29, 99);
    color: white;
  }
  .btn-close-modal {
    background: gray;
    color: white;
  }
  .modal-image{
    width: 200px;
    height: 200px;
  }
  a{
    text-decoration: none;
    color: white;
  }